@font-face {
    font-family: "Archivo Black";
    src: url('/assets/fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: "Rubik";
    src: url('/assets/fonts/Rubik-VariableFont_wght.ttf');
}